services:
  - type: web
    name: portfolio-rag-backend
    runtime: docker
    rootDir: rag-service
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: GROQ_API_KEY
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: FRONTEND_URL
        value: "https://donghank.website,https://www.donghank.website,https://portfolio-rag-six.vercel.app"
